<div class="container-fluid row chefdetail mx-0">
    
    <h3 class="text-center mb-4">Our Chefs</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="card bg-dark">
                <img src="assets/images/chef1.png" class="card-img-top" alt="Product 1">
                <div class="card-body text-white text-center px-5">
                  <h3 class="card-title">Albert c.miller</h3>  
                    <h4>Head Chef</h4>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="card bg-dark">
                  <img src="assets/images/chef2.png" class="card-img-top" alt="Product 1">
                  <div class="card-body text-white text-center px-5">
                    <h3 class="card-title">Albert c.miller</h3>  
                    <h4>Station Chef</h4>
                  </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="card bg-dark">
                  <img src="assets/images/chef3.jpg" class="card-img-top" alt="Product 1" height="280rem">
                  <div class="card-body text-white text-center px-5">
                    <h3 class="card-title">Albert c.miller</h3>  
                    <h4>Pastry Chef</h4>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
